Repository cputer/naestro, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cputer/owners, @cputer/docs, @cputer/ui-maintainers, @cputer/infra

ci: enforce Node.js 22.x with setup-node and NodeSource fallback
  .github/workflows/ci.yml
Owners: @cputer/infra

chore: guard npm install steps in CI
  .github/workflows/ci.yml
Owners: @cputer/infra

Handle missing lint tools
  src/orchestrator/orchestrator.py
  tests/test_orchestrator.py
Owners: none

Ensure single model instance with threading lock
  src/rag.py
  tests/test_rag.py
Owners: none

Handle orchestrator connection errors
  src/gateway/main.py
  tests/test_gateway.py
Owners: none

Add telemetry guardrails and configurable thresholds
  src/orchestrator/main.py
  tests/test_orchestrator.py
Owners: none

release: switch to googleapis/release-please-action@v4 and JSON config
  .github/release-please.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Owners: @cputer/infra

Update ci.yml
  .github/workflows/ci.yml
Owners: @cputer/infra

Update ci.yml
  .github/workflows/ci.yml
Owners: @cputer/infra

chore(ui): add react eslint config
  ui/.eslintrc.cjs
Owners: @cputer/ui-maintainers

chore(ui): refine lint script and add prop-types
  ui/package-lock.json
  ui/package.json
Owners: @cputer/ui-maintainers

feat(ui): add prop types to CodeEditor
  ui/src/components/CodeEditor.jsx
  ui/src/main.jsx
Owners: @cputer/ui-maintainers

fix(ui): adjust CodeEditor PropTypes
  ui/eslint.config.js
  ui/src/components/CodeEditor.jsx
Owners: @cputer/ui-maintainers

ui: add minimal Vitest smoke tests
  ui/package-lock.json
  ui/package.json
  ui/src/__tests__/smoke.test.jsx
  ui/src/components/__tests__/CodeEditor.test.jsx
Owners: @cputer/ui-maintainers

chore: streamline ci workflow
  .github/workflows/ci.yml
Owners: @cputer/infra

refactor: use default params in CodeEditor
  ui/src/components/CodeEditor.jsx
Owners: @cputer/ui-maintainers

chore: configure vitest setup
  ui/package.json
  ui/vitest.setup.js
Owners: @cputer/ui-maintainers

chore: configure UI tests with jsdom
  ui/eslint.config.js
  ui/package.json
  ui/src/components/__tests__/CodeEditor.test.jsx
  ui/src/main.jsx
  ui/vitest.setup.js
Owners: @cputer/ui-maintainers

chore: update eslint globals and rules
  ui/eslint.config.js
Owners: @cputer/ui-maintainers

ci(ui): monorepo-aware CI on Node 22.x, ESLint browser globals, PropTypes defaults, jsdom tests
  .github/workflows/ci.yml
  ui/eslint.config.js
  ui/src/__tests__/smoke.test.jsx
  ui/src/components/CodeEditor.jsx
  ui/src/components/__tests__/CodeEditor.test.jsx
  ui/src/main.jsx
Owners: @cputer/infra, @cputer/ui-maintainers

chore: add node version file
  .node-version
Owners: none

chore: enforce Node engine checks
  .npmrc
Owners: none

ci: use .nvmrc for node version
  .github/workflows/ci.yml
Owners: @cputer/infra

chore(releases): use Release Please manifest mode (ui as Node package)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
  ui/CHANGELOG.md
  ui/package.json
Owners: @cputer/infra, @cputer/ui-maintainers

fix(ui): disable vitest watch mode
  ui/package.json
Owners: @cputer/ui-maintainers

docs: add release badge
  README.md
Owners: none

.github/CODEOWNERS:

# Adjust GitHub teams/users to your org as needed
/src/core/           @cputer/owners
/config/providers.yaml @cputer/owners
/docs/**             @cputer/docs
/ui/**               @cputer/ui-maintainers
.github/**           @cputer/infra
